
<%= stylesheet_link_tag "noteablechat" %>
<%= javascript_include_tag 'noteablechat', 'strophe' %>
<div id="noteablechat_box">
  <div>
    <div id="noteablechat_topic">TODO:Topic goes here</div>
  </div>
  <div>
    <div id="noteablechat_roster"></div>
    <div id="noteablechat_chatlog"></div>
  </div>
  <div>
    <textarea id='noteablechat_msgArea'></textarea>
    <div>
      <input id='noteablechat_postButton' type="submit" value="Post" tabindex="3"/>
    </div>
  </div>
</div>