
<%= stylesheet_link_tag "noteablechat" %>
<%= javascript_include_tag 'noteablechat', 'strophe' %>
<div id="noteablechat_box">
  <input type='hidden' id='notablechat_service_url' value='<%= service %>'  />
  <div>
    <div id="noteablechat_topic">Welcome</div>
  </div>
  <div>
    <div id="noteablechat_roster"></div>
    <div id="noteablechat_chatlog"></div>
  </div>
  <% if(!readonly) %>
  <div>
    <textarea id='noteablechat_msgArea'></textarea>
    <div>
      <input id='noteablechat_postButton' type="submit" value="Post" tabindex="3"/>
    </div>
  </div>
  <% end %>
</div>