<div>
  <div style="">
    <div style="float:right;width:100px;height:300px;border:2px dotted blue;" id="roster"></div>
    <div id="chat" style="width:500px;height:300px;border:2px dotted blue;"></div>
  </div>
  <div>
    <textarea id='msgArea' tabindex="2" rows="3" cols="20" style="width:100%"></textarea>
  </div>
</div>